{% extends 'base.html'%} 

{% block titulo %}Excluir Serviço{% endblock %}

{% block corpo %}
<div id="conteudo-dados">

    <div style="display: flex; justify-content:center;">
        <h1><label class='text-primary'>Exclusão de Serviço</label></h1>
    </div>
        <form method="post" action="">
            <div class="mb-3">
                <label for="txtNome" class="form-label" >Nome</label>
                <input type="txt" class="form-control" id="txtNome" placeholder='Informe seu nome' readonly />
            </div>
            <div class="mb-3">
                <label for="txtValor" class="form-label">Valor (R$)</label>
                <input type="text" class="form-control" id="txtValor" placeholder='Informe valor (R$)' readonly />
            </div>
            <div class="mb-3">
                <input type='submit' value="Excluir" class="btn btn-danger">
                <input type='submit' value="Cancelar" class="btn btn-secondary">
            </div>
        </form>
</div>

{% endblock %}